<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <header ng-controller="HeaderCtrl as header">
        <div>
            City name: <b>{{cityName}}</b>
        </div>
        <div>
            Description: <b>{{description}}</b>
        </div>
        <div>
            <img ng-src="{{icon}}" />
        </div>
        <hr>
    </header>
    <content ng-controller="ContentCtrl as content">
        <form name="cityNameForm" ng-submit="submitCityNameForm(cityName)">
            <label>City name:
                <input type="text" name="cityName" required ng-minlength="3" ng-maxlength="10" ng-model="cityName">
                <button type="submit" ng-disabled="cityNameForm.$invalid">Apply</button>
            </label>
            <div role="alert">
                <span class="error" ng-show="cityNameForm.cityName.$error.minlength">Too short!</span>
                <span class="error" ng-show="cityNameForm.cityName.$error.maxlength">Too long!</span>
            </div>
        </form>
    </content>
    <footer ng-controller="FooterCtrl as footer">
    </footer>

    <script type="text/javascript" src="include/angular.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/components/HeaderCtrl.js"></script>
    <script type="text/javascript" src="app/components/ContentCtrl.js"></script>
    <script type="text/javascript" src="app/components/FooterCtrl.js"></script>
    <script type="text/javascript" src="app/services/Wheather.js"></script>
    <script type="text/javascript" src="app/services/WheatherApi.js"></script>
    <script type="text/javascript" src="app/services/Geolocation.js"></script>
    <script type="text/javascript" src="app/services/LolcalStorage.js"></script>
    </body>
</html>